<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://use.fontawesome.com/6d1e5407c3.js")
        link(rel="stylesheet", href="css/style.css")
        title Dyota Tanuwibawa
    body
        
        aside.menu
            p.menu-label General
            ul.menu-list
                li 
                    a(href='#about-me') About me
                li 
                    a(href='#web-development') Web
                li 
                    a(href='#data-work') Data work
                li 
                    a(href='#power-platform') Power Platform
                //- li 
                //-     a(href='projects.html') Project details

        div.main
            section.block.hero.is-primary
                div.hero-body
                    div.container
                        h1.title  Dyota Tanuwibawa
            
            section.block.container.is-fluid#about-me
                .content
                    p   
                        i Jakarta-born, Perth raised, 
                        b Australian citizen.
                    p   
                        i Former facilities engineer (oil and gas), current 
                        b business systems analyst.
                    p   
                        i Hobbyist 
                        b web developer.
                    p   
                        i Speaks Indonesian, Hokkien Chinese, 
                        b English.
                    p   
                        i Writes 
                        b Excel formulas, Power Apps/Power Fx, Power Query M, HTML, JavaScript.

            section.block.container.is-fluid
                .content
                    h2 Projects
                    h3#web-development Web Development
                    ul
                        li 
                            a(href="https://dyota257.github.io/personal/") This website 
                            a(href="https://github.com/dyota257/personal") [GitHub]
                            a(href="https://github.com/dyota257/personal") 
                                i.fa.fa-external-link
                            span  (2020)
                        li 
                            a(href="https://wrestlingwa.herokuapp.com/") Wrestling WA Tournament manager 
                            a(href="https://github.com/dyota257/wrestlingscoreboard") [GitHub]
                            a(href="https://wrestlingwa.herokuapp.com/") 
                                i.fa.fa-external-link
                            span  (2020)

                    h3#data-work Data work
                    details
                        summary Real estate web scraper in Node.js and Excel Power Query (2020)
                        p This is a compound tool, using Node.js in the command line and Excel. Upon executing, the JS script will hits a list of URLs on domain.com.au for the home open inspections happening in the next Saturday and Sunday, and list them (along with all the house attributes) in a .csv file. 
                        p The .csv file is then ingested into a Excel file through Power Query, where it is presented as a table. 
                        
                    li(style='margin-left:20px;') Design of relational "database" structure for various Power Apps (2020-21)
                        
                    
                    h3#power-platform Microsoft Power Platform
                    h4  Power Apps 
                    p   Built on SharePoint lists as database, aided by Power Automate. All were built within one Office365 tenant. 
                    h5 2021
                    details
                        summary Corporate management of change form digitalisation
                        p A management of change process, used to recording administrative changes at a corporate level, had existed, and was carried out using documents in .docx and .xlsx. Description were filled out in .docx, and outcomes of risk workshops were tabulated in .xlsx. Users needed to consult the company procedure or refer to the global QHSE manager for guidance. The management of the process itself was done through an Excel sheet (recording titles, unique ID numbers to MOCs, etc. )
                        p This app was a digital manifestation of the same process. Numbering to new MOCs was automatically assigned, and registering of MOC register was kept up to date automatically. Practical usage of the tool was guided through on-screen prompts, and the user journey through the process was guided by the application logic itself. 

                    details
                        summary "Amazing Race" companion mobile app with QR code scanner
                        p Companion app to an "Amazing Race" style of game, for an office teambuilding afternoon. Participating teams race on foot from one location to another. At each location, they must complete a challenge. Upon clearing a challenge, the team is given a QR code that they scan to receive a clue for the next location.
                        p The app also facilitates photo-taking at intervals. All photos are sent to a central SharePoint location, where it is available for all participants to view after the event. 
                    
                    details
                        summary Building visitor/employee sign-in tablet app
                        p App to allow visitors to sign themselves in on a tablet at reception and notify their host of their arrival. 
                        p Built to replace a third-party system. 
                    
                    h5 2020
                    details
                        summary QHSE site dropped objects inspection tablet app (2020)
                        p Tablet app that can be taken by an operator on an offshore vessel or plant facility to perform dropped objects inspections. 
                        p Inspection scope can be loaded. Each line item in the inspection can be marked off, have comments added to it, and have a photo attached to it. 
                        p App sequencing optimised for use outside of internet range. 
                        p Traditional "tabular" export of results in HTML also created, to replicate historical report formats. 
                        p Accompanied by a Power BI report for managerial oversight on inspection results and actions. 
                        p Startup required extensive Power Query manipulation to import existing data into the format required by new system.

                    details
                        summary Mentor-mentee matcher (2020)
                        p "Tinder for mentoring."
                        p Enter app to sign up, either as a prospective mentor or prospective mentee. Once signed up, view profiles of other members who have signed up. If seeking a mentor, the app allows for requesting mentorship. 
                        p Once relationship is established, there are facilities for capturing objectives and to take notes for meeting
                        
                    details 
                        summary Document review and approval by multiple reviewers (2020) SQP
                        p Service Quality Plan

                    ul
                        li Business case calculator (2020)
                        li Global "noticeboard" for seeking/offering engineering hours across offices (2020)
                        li Site/office QHSE walkaround mobile app (2019)
                        li Company bookmarks index (2019)
                        li Ideas management system (2019)
                    h4 Power BI
                    ul
                        li Engineering project S curve (with companion Power App for update input) (2021)
                        li News headline web scraper (targeting Google News and websites) (2020)
                    h4 Power Query in Excel
                    ul
                        li Conversion of tabulated inspection reports in PDF (100+ pages) to a single Excel table (2020)
                    




            
            section.block.container.is-fluid
                .content
                    h2  Contact me
                    p   
                        i.fa.fa-envelope.square
                        a(href='mailto:dyota257@hotmail.com')  dyota257@hotmail.com
                    p
                        i.fa.fa-github-square 
                        a(href="https://github.com/dyota257")  GitHub 
        
            footer Dyota Tanuwibawa 2021