<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://use.fontawesome.com/6d1e5407c3.js")
        link(rel="stylesheet", href="css/style.css")
        title Dyota Tanuwibawa
    body
        //
        aside.menu
            p.menu-label General
            ul.menu-list
                li 
                    a About me
                li 
                    a Web
                li 
                    a Power Platform

        div.main
            section.block.hero.is-primary
                div.hero-body
                    div.container
                        h1.title  Dyota Tanuwibawa
            
            section.block.container.is-fluid
                .content
                    p   Jakarta-born. 
                    p   Perth raised. 
                    p   Hobbyist web developer. 

            section.block.container.is-fluid
                .content
                    h2 Projects
                    h3 Web Development
                    ul
                        li 
                            a(href="https://wrestlingwa.herokuapp.com/") Wrestling WA Tournament manager 
                            a(href="https://github.com/dyota257/wrestlingscoreboard") [GitHub]
                            a(href="https://wrestlingwa.herokuapp.com/") 
                                i.fa.fa-external-link
                            span  (2020)

                    h3 Data stuff
                    ul           
                        li Real estate web scraper (2020)
                    
                    h3  Power Platform
                    h4  Power Apps 
                    p   Built on SharePoint lists, aided by Power Automate
                    ul
                        li QHSE site dropped objects survey app (2020)
                        li Mentor-mentee matcher (2020)
                        li Document review and approval workflow (2020)
                        li Business case calculator (2020)
                        li Global company department emailer (2020)
                        li Site/office QHSE walkaround app (2019)
                        li Company bookmarks index (2019)
                        li Ideas management system (2019)
                    h4 Power BI
                    ul
                        li ...



            
            section.block.container.is-fluid
                .content
                    h2  Contact me
                    p   
                        i.fa.fa-envelope.square
                        span  dyota257@gmail.com
                    p
                        i.fa.fa-github-square 
                        a(href="https://github.com/dyota257")  GitHub 
        
            footer 