<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Dyota Tanuwibawa
    body

        section.hero
            div.hero-body
                div.container
                    h1.title  Welcome
        
        section.container
            p   I am a hobbyist web developer, and this is my personal page.
            p   You can find my projects here.
            p   Feel free to have a look around.

        section.container
            h2  Projects
            h3  Web Development
                ul
                    li 
                        a(href="https://murmuring-crag-38443.herokuapp.com/") Wrestling WA Tournament manager 
                        a(href="https://github.com/dyota257/wrestlingscoreboard") [GitHub]
        
        section.container
            h2.title  Contact me
            p   dyota257@gmail.com