@charset "utf-8";

// Modify Bulma

$primary: rgb(200, 50, 7);
$container-offset: 500px;

// Import Bulma
// @import "bulma/bulma.sass";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/components/menu.sass";

// Use Bulma

$navoffset:160px;

@media print {
    aside {
        display: none;
    }
}

aside.menu {
    background-color: $white-ter;
    position: fixed;
    height: 100%;
    width: $navoffset;
}

.main {
    margin-left:$navoffset;
}

details {
    font-weight: lighter;
    margin-left: 20px;
    margin-bottom: 1em;
}

summary {
    font-weight: normal;
    margin-bottom: 0.5em;
}