@charset "utf-8";

$navoffset:160px;

aside.menu {
    position: fixed;
    height: 100%;
    width: $navoffset;
}

.main {
    margin-left:$navoffset;
}

$primary: rgb(200, 50, 7);

// Must be last
@import "bulma/bulma.sass";